---
layout: archive
permalink: /ko/blog/
title: "블로그"
lang: ko
translation: /year-archive/
author_profile: true
---

{% include base_path %}
{% assign ko_posts = site.posts | where_exp: "p", "p.lang != 'en'" %}
{% assign latest_post = ko_posts | first %}
{% assign latest_title = latest_post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="blog-landing">
  <div class="blog-landing__featured">
    <article class="blog-landing__featured-post" itemscope itemtype="http://schema.org/CreativeWork">
      <header>
        <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ base_path }}{{ latest_post.url }}" rel="permalink">{{ latest_title }}</a>
        </h2>
        {% if latest_post.date %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> 발행일:</strong> <time datetime="{{ latest_post.date | date_to_xmlschema }}">{{ latest_post.date | date: "%Y년 %m월 %d일" }}</time></p>
        {% endif %}
      </header>

      <section class="page__content" itemprop="text">
        {{ latest_post.content }}
      </section>

      <p class="blog-landing__permalink">
        <a href="{{ base_path }}{{ latest_post.url }}">이 글의 개별 페이지로 이동 &rarr;</a>
      </p>
    </article>
  </div>

  <aside class="blog-landing__sidebar sidebar__right">
    <nav class="toc">
      <header><h3 class="nav__title">최근 글</h3></header>
      <ul class="blog-landing__list">
        {% for post in ko_posts limit:20 offset:1 %}
          {% assign item_title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
          <li>
            <a href="{{ base_path }}{{ post.url }}">{{ item_title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
          </li>
        {% endfor %}
      </ul>
      <a href="{{ base_path }}/ko/all-posts/" class="btn btn--small">전체 글 보기 &rarr;</a>
    </nav>
  </aside>
</div>
