---
layout: archive
permalink: /year-archive/
lang: en
translation: /ko/blog/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% assign en_posts = site.posts | where: 'lang', 'en' %}
{% assign latest_post = en_posts | first %}
{% assign latest_title = latest_post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="blog-landing">
  <div class="blog-landing__featured">
    <article class="blog-landing__featured-post" itemscope itemtype="http://schema.org/CreativeWork">
      <header>
        <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ base_path }}{{ latest_post.url }}" rel="permalink">{{ latest_title }}</a>
        </h2>
        {% if latest_post.read_time %}
          {% assign post = latest_post %}
          <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}
        {% if latest_post.date %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ latest_post.date | date_to_xmlschema }}">{{ latest_post.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}
      </header>

      <section class="page__content" itemprop="text">
        {{ latest_post.content }}
      </section>

      <p class="blog-landing__permalink">
        <a href="{{ base_path }}{{ latest_post.url }}">Go to this post &rarr;</a>
      </p>
    </article>
  </div>

  <aside class="blog-landing__sidebar sidebar__right">
    <nav class="toc">
      <header><h3 class="nav__title">Recent posts</h3></header>
      <ul class="blog-landing__list">
        {% for post in en_posts limit:20 offset:1 %}
          {% assign item_title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
          <li>
            <a href="{{ base_path }}{{ post.url }}">{{ item_title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
          </li>
        {% endfor %}
      </ul>
      <a href="{{ base_path }}/all-posts/" class="btn btn--small">All posts &rarr;</a>
    </nav>
  </aside>
</div>
